<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "ScamBag", root_path, id: "logo", class: "navbar-brand" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Help", help_path %></li>
        <li><%= link_to "Board", posts_path %></li>
        <li><%= link_to "Sign up", new_user_path if !logged_in? %></li>
        <% if logged_in? %>
          <li><%= link_to "New Scam", new_post_path %></li>
          <li><%= link_to "Profile", current_user %></li>
          <li><%= link_to "Log out", logout_path, method: :delete %></li>
          <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
